@import "styles/_variables.scss";

.location {
  display: block;
  z-index: 10;

  & .heading {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2;

    @media screen and (min-width: $screen-md) {
      font-size: 1.2rem;
    }

    & span {
      display: block;
      font-weight: 400;
    }
  }
}