.container {
  position: static;
  display: block;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #3b3b3b;
  font-family: Rubik, sans-serif;
  font-size: 16px; }
  .container.time-day {
    background-color: #f9fafc;
    color: #3b3b3b; }
  .container.time-night {
    background-color: #1c2638;
    color: #ffffff; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 110; }
  .loading svg {
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 20px; }
  .loading span {
    font-size: 1.5em; }
  .time-day .loading {
    background-color: #f9fafc;
    color: #3b3b3b; }
  .time-night .loading {
    background-color: #1c2638;
    color: #ffffff; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin: 0;
  padding: 0; }

h3 {
  font-size: 0.875em;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 25px; }

h4 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 25px; }

strong {
  font-weight: 500; }

hr {
  margin: 25px 0;
  border: 1px solid rgba(0, 0, 0, 0.2); }
